.start-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #e5b181;
}

.intro {
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1em 1.5em;
	background-color: #daedbd;
	color: black;
	border-radius: 5px;
	box-shadow: 0 11px 12px 0 rgba(36, 50, 66, 0.119);
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

a:hover {
	color: white;
	background-color: #de6b48;
	cursor: pointer;
}
